@import (reference) 'styles/theme.less';

.list {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: @gap-sm;
    padding-bottom: 20px;
}

.skeleton {
    width: 1000px;
}