@import (reference) 'styles/theme.less';

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: @gap-sm;
    padding: @padding-md @padding-lg;
    box-shadow: @shadow-2;
    border-radius: 10px;
    transition: 0.5s all;
}

.container:hover {
    box-shadow: @shadow-3;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.values {
    display: flex;
    flex-direction: column;
    gap: @gap-sm;
    color: @text-color;

    .label {
        font-size: @font-size-lg;
        color: @main-color;
    }

    .value {
        font-size: @font-size-base;
    }

    .link {
        font-size: @font-size-sm;
        color: @primary-color;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 650px;
    }
}
  