@import (reference) 'styles/theme.less';

.ant-tag {
    font-size: @font-size-sm !important;
    padding: 3px 8px;
}

.ant-image-img {
    border-radius: @border-radius-base !important;
}

div, p, span {
    color: @text-color;
}