*.nuget.props
*.paket.props
*.paket.targets
/[Bb]in
/[Oo]bj
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
.scc
[Bb]in
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease*/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uild[Bb]in/
[Ll]og/
[Ll]ogs/
[Pp]ublish[Bb]in/
[Pp]ublished[Bb]in/
[Tt]est[Rr]esults/
[Tt]est[Rr]esult[Bb]in/
scc/
[Bb]in/
obj/