@import (reference) 'styles/theme.less';

.container {
    display: flex;
    gap: 10px;
    padding: @padding-sm;
    max-width: 960px;
    box-shadow: @shadow-2;
    transition: 0.5s all;
}

.container:hover {
    box-shadow: @shadow-3;
}